<form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div *ngFor="let question of questions">
        <dynamic-question [form]="formGroup" [question]="question"></dynamic-question>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" [disabled]="!formGroup.valid" class="btn btn-primary" [ngClass]="{'disabled':!formGroup.valid}">Save</button>
        </div>
    </div>
</form>

<pre *ngIf="payload">{{ payload }}</pre>